In [1]:
import dask.array as da    

#using arange to create an array with values from 0 to 10
X = da.arange(11, chunks=5)
X.compute()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [2]:
#to see size of each chunk
X.chunks

((5, 5, 1),)

In [3]:
import numpy as np
import dask.array as da 
x = np.arange(10) #np array
y = da.from_array(x, chunks=5)
y.compute() #results in a dask array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# Dask arrays support most of the numpy functions. For instance, you can use .sum() or .mean(), as we will do now.
#calculating mean of first 100 numbers
x = np.arange(1000)  #arange is used to create array on values from 0 to 1000
y = da.from_array(x, chunks=(100))  #converting numpy array to dask array
y.mean().compute()  #computing mean of the array

499.5

In all the above codes, you must have noticed that we used .compute() to get the results. This is because when we simply use dask_array.mean(), Dask builds a graph of tasks to be executed. To get the final result, we use the .compute() function which triggers the actual computations.

In [6]:
#reading the file using pandas
import pandas as pd
%time temp = pd.read_csv("D:\\Users\\suraj_haradagatti\\Desktop\\PythonProjects\\MachineLearning\\Files\\blackfridaydataset\\train.csv")

Wall time: 624 ms

In [9]:
#reading the file using dask
import dask.dataframe as dd
%time df = dd.read_csv("D:\\Users\\suraj_haradagatti\\Desktop\\PythonProjects\\MachineLearning\\Files\\blackfridaydataset\\train.csv")

Wall time: 24 ms

On using Dask, the read time reduced more than ten times as compared to using pandas!

In [11]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [15]:
 df['Gender'].value_counts().compute()

M    414259
F    135809
Name: Gender, dtype: int64

In [16]:
df.groupby(df.Gender).Purchase.max().compute()

Gender
F    23959
M    23961
Name: Purchase, dtype: int64

In [20]:
df.Gender

Dask Series Structure:
npartitions=1
    object
       ...
Name: Gender, dtype: object
Dask Name: getitem, 4 tasks

In [19]:
df.Gender.head()

0    F
1    F
2    F
3    F
4    M
Name: Gender, dtype: object

# DASK ML

A user can perform parallel computing using scikit-learn (on a single machine) by setting the parameter njobs = -1. Scikit-learn uses Joblib to perform these parallel computations. Joblib is a library in python that provides support for parallelization. When you call the .fit() function, based on the tasks to be performed (whether it is a hyperparameter search or fitting a model), Joblib distributes the task over the available cores. To understand Joblib in detail, you can have a look at this documentation.

Even though parallel computations can be performed using scikit-learn, it cannot be scaled to multiple machines. On the other hand, Dask works well on a single machine and can also be scaled up to a cluster of machines.

In [21]:
df.isnull().sum().compute()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64